<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:jaxws="http://cxf.apache.org/jaxws" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<jaxws:client id="usuarioServiceClient"
		serviceClass="com.venta.pasajes.service.UsuarioService"
		address="http://localhost:8080/apachecxf-jaxws-ventapasajes/services/usuarioService" />

	<jaxws:client id="agenciaServiceClient"
		serviceClass="com.venta.pasajes.service.AgenciaService"
		address="http://localhost:8080/apachecxf-jaxws-ventapasajes/services/agenciaService" />

	<jaxws:client id="busServiceClient"
		serviceClass="com.venta.pasajes.service.BusService"
		address="http://localhost:8080/apachecxf-jaxws-ventapasajes/services/busService" />

	<jaxws:client id="viajeServiceClient"
		serviceClass="com.venta.pasajes.service.ViajeService"
		address="http://localhost:8080/apachecxf-jaxws-ventapasajes/services/viajeService" />

	<bean id="restTemplate" class="org.springframework.web.client.RestTemplate" />
</beans>